*{
	box-sizing: border-box;
}
body,html{
	overflow: hidden;
}
.page {
	padding: 10vh 30px 0 30px;
}

.title {
	font-size: 36px;
}
.nav{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	.title{
		font-size: 30px!important;
	}
	.iconfont{
		font-size:40px!important;
	}
}
