/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3857483 */
  src: url('https://at.alicdn.com/t/c/font_3857483_z72x8c1kd0s.woff2?t=1716348419605') format('woff2'),
       url('https://at.alicdn.com/t/c/font_3857483_z72x8c1kd0s.woff?t=1716348419605') format('woff'),
       url('https://at.alicdn.com/t/c/font_3857483_z72x8c1kd0s.ttf?t=1716348419605') format('truetype');
}